@charset "UTF-8";
.is-sm {
  display: none;
}

@media screen and (max-width: 576px) {
  .is-sm {
    display: block;
  }
}

/*================================
共通
================================*/
body {
  font-family: “HiraginoKaku Gothic ProN”, "Meiryo", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.bg {
  background-image: url(../img/bg.jpg);
  background: no-repeat cover;
  top: 0;
  left: 0;
}

a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.container {
  max-width: 810px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 50px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 25px;
  }
}

a {
  color: #421F15;
}

img {
  width: 100%;
  height: auto;
}

.btn a {
  background-color: #C63205;
  padding: 22px 40px 19px 40px;
  color: #fff;
  border: solid 1px #707070;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 34px;
}

.section-title {
  line-height: 1.534;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 24px;
  }
}

.breadcrumb {
  font-size: 12px;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb ul li a {
  position: relative;
}

.breadcrumb ul li a::after {
  position: absolute;
  content: ">";
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 2px;
}

.breadcrumb-item + .breadcrumb-item {
  margin-left: 15px;
}

.pagenation {
  text-align: center;
  margin-top: 31px;
  vertical-align: middle;
}

.page-numbers {
  background-color: #1A1A1A;
  color: #F4D102;
  font-size: 12px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
}

.next {
  background: rgba(255, 255, 255, 0);
  color: #1A1A1A;
  border: solid 3px  #1A1A1A;
  vertical-align: bottom;
  line-height: 20px;
}

/*================================
mv-short
================================*/
.mv-short {
  height: 180px;
  background: url(../img/mv.png) center center no-repeat;
  background-size: cover;
  position: relative;
}

.mv-short .container {
  position: relative;
}

.mv-short .mv-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .mv-short .mv-inner {
    display: block;
  }
}

.mv-short .mv-title {
  margin-top: 48px;
  width: 460px;
}

@media screen and (max-width: 768px) {
  .mv-short .mv-title {
    width: 350px;
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .mv-short .mv-title {
    width: 250px;
    margin-top: 0;
  }
}

.mv-short .mv-day {
  margin-top: 48px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .mv-short .mv-day {
    width: 200px;
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .mv-short .mv-day {
    width: 150px;
    margin-top: 30px;
  }
}

.mv-short .ticket-btn {
  position: absolute;
  content: "";
  bottom: -70px;
  right: 0px;
}

@media screen and (max-width: 768px) {
  .mv-short .ticket-btn {
    right: 20px;
    bottom: -40px;
  }
}

.mv-short .ticket-btn a {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .mv-short .ticket-btn a {
    padding: 10px 20px;
    font-size: 12px;
  }
}

/*================================
header
================================*/
#header {
  height: 90px;
}

@media screen and (max-width: 576px) {
  #header {
    height: 60px;
  }
}

#header .header-nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  width: 651px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #header .header-nav {
    overflow-x: auto;
    width: 100%;
    height: 60px;
  }
}

@media screen and (max-width: 576px) {
  #header .nav-item {
    padding: 0 15px;
  }
}

#header .kana {
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  #header .kana {
    font-size: 10px;
  }
}

#header .en {
  font-size: 22px;
  line-height: 1.63;
}

@media screen and (max-width: 576px) {
  #header .en {
    font-size: 16px;
  }
}

/*================================
mv
================================*/
#mv {
  position: relative;
}

#mv .mv-picture {
  padding-top: 45.61%;
  background: url(../img/mv.png) center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  #mv .mv-picture {
    height: 500px;
  }
}

#mv .mv-inner {
  padding: 60px 110px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #mv .mv-inner {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 768px) {
  #mv .mv-title {
    width: 350px;
  }
}

@media screen and (max-width: 576px) {
  #mv .mv-title {
    width: 250px;
  }
}

#mv .mv-day {
  width: 370px;
}

@media screen and (max-width: 768px) {
  #mv .mv-day {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  #mv .mv-day {
    width: 150px;
  }
}

#mv .mv-text {
  color: #fff;
  width: 340px;
}

#mv .mv-text p {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 1.57;
}

@media screen and (max-width: 768px) {
  #mv .mv-text {
    width: 100%;
    margin-top: 50px;
  }
}

#mv .mv-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 88px;
}

@media screen and (max-width: 768px) {
  #mv .mv-bottom {
    margin-top: 30px;
  }
}

#mv .ticket-btn {
  position: absolute;
  content: "";
  bottom: -7px;
  right: 110px;
}

@media screen and (max-width: 576px) {
  #mv .ticket-btn {
    right: 20px;
  }
}

#mv .ticket-btn a {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #mv .ticket-btn a {
    padding: 10px 10px;
    font-size: 12px;
  }
}

/*================================
introduction
================================*/
#introduction {
  margin-top: 60px;
}

#introduction .inner {
  border: solid 1px #707070;
  padding: 26px 30px 30px 30px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

#introduction .sub-title {
  margin-top: 6px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #introduction .sub-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  #introduction .sub-title {
    font-size: 16px;
  }
}

#introduction .introduction-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 25px;
}

@media screen and (max-width: 576px) {
  #introduction .introduction-text {
    font-size: 10px;
  }
}

#introduction .introduction-text .left-text, #introduction .introduction-text .right-text {
  width: 360px;
  line-height: 1.75;
}

@media screen and (max-width: 768px) {
  #introduction .introduction-text .left-text, #introduction .introduction-text .right-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #introduction .right-text {
    margin-top: 15px;
  }
}

/*================================
news-section
================================*/
#news-section {
  padding-top: 56px;
  padding-bottom: 62px;
}

@media screen and (max-width: 768px) {
  #news-section {
    padding: 0 0 30px;
  }
}

#news-section .news-3cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  position: relative;
}

@media screen and (max-width: 576px) {
  #news-section .news-3cards {
    margin-top: 60px;
  }
}

#news-section .news-3card {
  width: calc(33.3% - 30px * 2 / 3);
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  #news-section .news-3card {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
}

#news-section .news-3card:nth-child(3n) {
  margin-right: 0;
}

#news-section .card-text {
  background-color: #fff;
  padding: 14px;
  height: 120px;
}

@media screen and (max-width: 576px) {
  #news-section .card-text {
    width: 100%;
  }
}

#news-section .card-text time {
  font-size: 12px;
}

#news-section .card-text p {
  line-height: 1.3125;
}

#news-section .news-2cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#news-section .news-2card {
  width: calc(50% - 30px * 1 / 2);
  margin-right: 30px;
  display: flex;
}

@media screen and (max-width: 576px) {
  #news-section .news-2card {
    width: 100%;
    margin-right: 0;
    flex-wrap: wrap;
  }
}

#news-section .news-2card img {
  width: 156px;
}

@media screen and (max-width: 576px) {
  #news-section .news-2card img {
    width: 100%;
  }
}

#news-section .news-2card:nth-child(2n) {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  #news-section .news-2card:nth-child(2n) {
    margin-top: 30px;
  }
}

#news-section .news-btn {
  position: absolute;
  content: "";
  top: -70px;
  right: 0;
}

@media screen and (max-width: 576px) {
  #news-section .news-btn {
    top: -30px;
  }
}

#news-section .news-btn a {
  padding: 10px 21px;
}

@media screen and (max-width: 576px) {
  #news-section .news-btn a {
    padding: 8px 12px;
  }
}

/*================================
story
================================*/
#story-section {
  background: url(../img/story-section.png) no-repeat;
  padding-right: 16.5px;
  background-size: cover;
  height: 420px;
}

@media screen and (max-width: 768px) {
  #story-section {
    height: 600px;
  }
}

@media screen and (max-width: 576px) {
  #story-section {
    height: 500px;
  }
}

#story-section h1 {
  color: #fff;
  padding-top: 25px;
}

#story-section .container {
  position: relative;
}

#story-section .story-text {
  color: #fff;
  font-size: 12px;
  width: 320px;
  line-height: 1.75;
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  #story-section .story-text {
    margin-top: 50px;
  }
}

#story-section .story-text p {
  font-family: "ヒラギノ角ゴシック";
}

#story-section .story-btn {
  position: absolute;
  content: "";
  bottom: -30px;
  right: 0;
}

#story-section .story-btn a {
  padding: 8px 26.9px 9.4px 26.9px;
  font-size: 14px;
}

/*================================
comments
================================*/
#comments-section {
  padding-top: 55px;
  padding-bottom: 247px;
}

@media screen and (max-width: 768px) {
  #comments-section {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 576px) {
  #comments-section {
    padding-bottom: 200px;
  }
}

#comments-section .comments-sub-title {
  font-size: 24px;
  margin-top: 26px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #comments-section .comments-sub-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  #comments-section .comments-sub-title {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
  }
}

#comments-section .comments-img {
  padding: 44px 0 43px 30px;
  background: url(../img/comments.png) no-repeat;
  background-size: contain;
  margin-top: 30px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  #comments-section .comments-img {
    background-color: #333;
    padding: 60px 10px 40px 10px;
  }
}

#comments-section .comments-name {
  line-height: 1.429;
}

@media screen and (max-width: 576px) {
  #comments-section .comments-name {
    margin-top: 50px;
    text-align: center;
  }
}

#comments-section .comments-name .sub-name {
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  #comments-section .comments-name .sub-name {
    font-size: 14px;
  }
}

#comments-section .comments-name .name {
  font-size: 26px;
}

@media screen and (max-width: 576px) {
  #comments-section .comments-name .name {
    font-size: 18px;
  }
}

#comments-section .comments-text {
  width: 420px;
  font-size: 14px;
  line-height: 1.571;
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  #comments-section .comments-text {
    width: 100%;
    font-size: 12px;
  }
}

/*================================
cast
================================*/
#cast-section {
  background-color: #fff;
  height: 700px;
}

@media screen and (max-width: 768px) {
  #cast-section {
    height: 800px;
  }
}

@media screen and (max-width: 576px) {
  #cast-section {
    height: 1900px;
  }
}

#cast-section .container {
  position: relative;
  top: -200px;
}

#cast-section .cast-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

#cast-section .cast-card {
  width: calc(33.333% - 30px * 2 / 3);
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  #cast-section .cast-card {
    width: 100%;
    margin-right: 0;
  }
}

#cast-section .cast-card:nth-child(3n) {
  margin-right: 0;
}

#cast-section .cast-card-img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  #cast-section .cast-card-img {
    width: 200px;
    height: 200px;
  }
}

#cast-section .name-box {
  text-align: center;
  height: 82.5px;
}

#cast-section .cast-sub-name {
  margin-top: 38px;
}

#cast-section .cast-name {
  margin-top: 14px;
  font-size: 18px;
}

#cast-section .name-title {
  margin-top: 19px;
  font-size: 12px;
}

#cast-section .cast-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.75;
  height: 326px;
}

#cast-section .cast-more-btn {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  #cast-section .cast-more-btn {
    margin-top: 120px;
  }
}

@media screen and (max-width: 576px) {
  #cast-section .cast-more-btn {
    margin-top: -20px;
  }
}

#cast-section .cast-more-btn a {
  font-size: 14px;
  color: #C63205;
  padding: 8px 30px;
  border: solid 5px #C63205;
}

/*================================
schedule
================================*/
#schedule-section {
  padding: 60px 0 60px;
}

#schedule-section .inner {
  border: solid 1px #707070;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.29);
  padding: 37px 84px 66px 86px;
}

@media screen and (max-width: 768px) {
  #schedule-section .inner {
    padding: 10px 10px 40px 10px;
  }
}

#schedule-section .schedule-list {
  margin-top: 23px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list {
    text-align: center;
  }
}

#schedule-section .schedule-list-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list-item {
    display: block;
  }
}

#schedule-section .schedule-list-item dt {
  width: 264px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list-item dt {
    width: 100%;
  }
}

#schedule-section .schedule-list-item dt .start {
  margin-left: 30px;
  margin-right: 32px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list-item dt .start {
    margin-right: 15px;
  }
}

#schedule-section .schedule-list-item dd {
  width: calc(100% - 264px);
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list-item dd {
    width: 100%;
    margin-top: 15px;
  }
}

#schedule-section .schedule-list-item .place {
  margin-right: 64px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-list-item .place {
    margin: 0;
  }
}

#schedule-section .schedule-list-item + .schedule-list-item {
  margin-top: 18px;
}

#schedule-section .accept a {
  text-decoration: underline;
}

#schedule-section .schedule-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 62px;
  font-size: 13px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-btn {
    display: block;
    text-align: center;
  }
}

#schedule-section .schedule-contact-btn {
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-contact-btn {
    margin-right: 0;
  }
}

#schedule-section .schedule-contact-btn a {
  padding: 21px 42px;
  background-color: #603813;
}

@media screen and (max-width: 768px) {
  #schedule-section .schedule-contact-btn a {
    padding: 10px 20px;
  }
}

#schedule-section .schedule-accept-btn {
  margin-left: 15px;
}

@media screen and (max-width: 576px) {
  #schedule-section .schedule-accept-btn {
    margin-left: 0;
    margin-top: 60px;
  }
}

#schedule-section .schedule-accept-btn a {
  padding: 21px 45px;
}

@media screen and (max-width: 768px) {
  #schedule-section .schedule-accept-btn a {
    padding: 10px 20px;
  }
}

/*================================
footer
================================*/
#footer {
  height: 80px;
  background-color: #1A1A1A;
  color: #fff;
  line-height: 80px;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #footer {
    font-size: 10px;
  }
}

/*================================
news
================================*/
.news {
  padding-top: 30.5px;
}

.news .news-3cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  position: relative;
}

@media screen and (max-width: 576px) {
  .news .news-3cards {
    margin-top: 30px;
  }
}

.news .news-3card {
  width: calc(33.3% - 30px * 2 / 3);
  margin-right: 30px;
}

@media screen and (max-width: 576px) {
  .news .news-3card {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
}

.news .news-3card:nth-child(3n) {
  margin-right: 0;
}

.news .card-text {
  background-color: #fff;
  padding: 14px;
  height: 120px;
}

@media screen and (max-width: 576px) {
  .news .card-text {
    width: 100%;
  }
}

.news .card-text time {
  font-size: 12px;
}

.news .card-text p {
  line-height: 1.3125;
}

.news .page-news-title {
  margin-top: 24px;
}

.news .news-3card:nth-child(n + 4) {
  margin-top: 30px;
}

/*================================
news-single
================================*/
.news-single {
  padding-top: 34px;
}

.news-single .section-title {
  margin-top: 23px;
}

.news-single .single-img {
  margin-top: 26px;
}

.news-single .single-title {
  color: #fff;
  padding: 14px 30px 17px 30px;
  background-color: #1A1A1A;
}

.news-single .single-title p {
  margin-top: 5px;
  line-height: 1.238;
}

.news-single .single-day {
  font-size: 12px;
}

.news-single .single-text-box {
  background-color: #fff;
  padding: 30px 30px 155px 30px;
}

.news-single .single-text-title {
  font-size: 22px;
  line-height: 1.1818;
}

@media screen and (max-width: 576px) {
  .news-single .single-text-title {
    font-size: 18px;
  }
}

.news-single .single-sub-title {
  font-size: 18px;
  margin-top: 35px;
}

.news-single .single-text p {
  margin-top: 35px;
  line-height: 1.534;
}

.news-single .pagenavi {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.news-single .pagenavi time {
  font-size: 12px;
  line-height: 1.75;
}

.news-single .pagenavi-left {
  padding-left: 45px;
  padding-right: 30px;
  padding-bottom: 40px;
  position: relative;
}

.news-single .pagenavi-left i {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 32px;
  height: 32px;
  background-color: #1A1A1A;
  color: #F1C201;
  border-radius: 999px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 576px) {
  .news-single .pagenavi-left i {
    top: -30px;
  }
}

.news-single .pagenavi-right {
  padding-right: 45px;
  padding-left: 55px;
  padding-bottom: 60px;
  position: relative;
}

.news-single .pagenavi-right i {
  position: absolute;
  content: "";
  right: 0;
  top: 10px;
  width: 32px;
  height: 32px;
  background-color: #1A1A1A;
  color: #F1C201;
  border-radius: 999px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 576px) {
  .news-single .pagenavi-right i {
    top: -30px;
  }
}

.news-single .pagenavi-left, .news-single .pagenavi-right {
  width: 350px;
}

@media screen and (max-width: 576px) {
  .news-single .pagenavi-left, .news-single .pagenavi-right {
    width: 50%;
    padding: 10px;
    margin-top: 30px;
  }
}

.news-single .pagenavi-left p, .news-single .pagenavi-right p {
  font-size: 14px;
  line-height: 1.5;
}

/*================================
mv-story
================================*/
.mv-story .mv-story-picture {
  background: url(../img/story-section.png) no-repeat;
  background-size: cover;
}

.mv-story .mv-inner {
  color: #fff;
  padding: 58px 0 61px;
  width: 100%;
}

.mv-story .mv-text-body {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .mv-story .mv-text-body {
    display: block;
  }
}

.mv-story .mv-title {
  width: 460px;
}

@media screen and (max-width: 768px) {
  .mv-story .mv-title {
    width: 350px;
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .mv-story .mv-title {
    width: 250px;
    margin-top: 0;
  }
}

.mv-story .mv-day {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .mv-story .mv-day {
    width: 200px;
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .mv-story .mv-day {
    width: 150px;
    margin-top: 30px;
  }
}

.mv-story .ticket-btn {
  margin-top: 47px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .mv-story .ticket-btn {
    right: 20px;
    bottom: -40px;
  }
}

.mv-story .ticket-btn a {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .mv-story .ticket-btn a {
    padding: 10px 20px;
    font-size: 12px;
  }
}

.mv-story .breadcrumb {
  margin-top: 14px;
}

@media screen and (max-width: 576px) {
  .mv-story .breadcrumb {
    margin-top: 40px;
  }
}

.mv-story .breadcrumb a {
  color: #fff;
}

.mv-story .story-flex {
  display: flex;
}

@media screen and (max-width: 576px) {
  .mv-story .story-flex {
    display: block;
  }
}

.mv-story .leading {
  font-size: 26px;
  display: block;
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 576px) {
  .mv-story .leading {
    margin-top: 30px;
  }
}

.mv-story .story-left, .mv-story .story-right {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .mv-story .story-left, .mv-story .story-right {
    width: 100%;
  }
}

.mv-story .story-content {
  margin-top: 52px;
}

@media screen and (max-width: 576px) {
  .mv-story .story-content {
    margin-top: 0;
  }
}

.mv-story .story-content-text {
  font-size: 12px;
  line-height: 1.83;
}

@media screen and (max-width: 576px) {
  .mv-story .story-content-text {
    margin-top: 30px;
  }
}

.mv-story .story-bg {
  width: 100%;
}

.mv-story .story-bg1 {
  background: url(../img/story-bg1.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.mv-story .story-bg1 p {
  color: #fff;
  width: 390px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: 1.75;
}

@media screen and (max-width: 576px) {
  .mv-story .story-bg1 p {
    width: 100%;
  }
}

.mv-story .story-bg2 {
  background: url(../img/story-bg2.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.mv-story .story-bg2 .story-bg2-text {
  width: 390px;
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  .mv-story .story-bg2 .story-bg2-text {
    width: 100%;
  }
}

.mv-story .story-bg2 p {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: 1.75;
}

.mv-story .story-bg3 {
  background: url(../img/story-bg3.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.mv-story .story-bg3 p {
  color: #fff;
  width: 390px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 12px;
  line-height: 1.75;
}

@media screen and (max-width: 576px) {
  .mv-story .story-bg3 p {
    width: 100%;
  }
}

/*================================
comments
================================*/
.comments .breadcrumb {
  margin-top: 30px;
}

.comments .comments-sub-title {
  font-size: 24px;
  margin-top: 26px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .comments .comments-sub-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .comments .comments-sub-title {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
  }
}

.comments .comments-img {
  padding: 44px 0 43px 30px;
  background: url(../img/comments.png) no-repeat;
  background-size: contain;
  margin-top: 30px;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .comments .comments-img {
    background-color: #333;
    padding: 60px 10px 40px 10px;
  }
}

.comments .comments-name {
  line-height: 1.429;
}

@media screen and (max-width: 576px) {
  .comments .comments-name {
    margin-top: 50px;
    text-align: center;
  }
}

.comments .comments-name .sub-name {
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .comments .comments-name .sub-name {
    font-size: 14px;
  }
}

.comments .comments-name .name {
  font-size: 26px;
}

@media screen and (max-width: 576px) {
  .comments .comments-name .name {
    font-size: 18px;
  }
}

.comments .comments-text {
  width: 420px;
  font-size: 14px;
  line-height: 1.571;
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  .comments .comments-text {
    width: 100%;
    font-size: 12px;
  }
}

.comments .comments-cards {
  display: flex;
  flex-wrap: wrap;
}

.comments .comments-card {
  width: calc(33.3333% - 30px * 2 / 3);
  margin-right: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .comments .comments-card {
    width: calc(50% - 20px * 1 / 2);
    margin-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  .comments .comments-card {
    width: 100%;
    margin-right: 0;
  }
}

.comments .comments-card:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .comments .comments-card:nth-child(3n) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .comments .comments-card:nth-child(2n) {
    margin-right: 0;
  }
}

.comments .comments-card-name {
  text-align: center;
  font-size: 22px;
}

.comments .comments-card-sub-name {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.comments .comments-card-text {
  margin-top: 10px;
}

/*================================
cast
================================*/
.cast-breadcrumb {
  margin-top: 30px;
}

.cast-page-title {
  padding-bottom: 130px;
}

.cast .cast-flex-bg {
  background-color: #fff;
}

.cast .cast-flex {
  display: flex;
  flex-wrap: wrap;
}

.cast .cast-card {
  width: calc(33.333% - 30px * 2 / 3);
  margin-right: 30px;
  position: relative;
  top: -100px;
}

@media screen and (max-width: 768px) {
  .cast .cast-card {
    top: -160px;
  }
}

@media screen and (max-width: 576px) {
  .cast .cast-card {
    width: 100%;
    margin-right: 0;
    top: -130px;
  }
}

@media screen and (max-width: 576px) {
  .cast .cast-card:nth-child(n + 2) {
    margin-top: 40px;
  }
}

.cast .cast-card:nth-child(3n) {
  margin-right: 0;
}

.cast .cast-card-img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .cast .cast-card-img {
    width: 200px;
    height: 200px;
  }
}

.cast .name-box {
  margin-top: 38px;
  width: 216px;
  height: 82px;
}

@media screen and (max-width: 576px) {
  .cast .name-box {
    width: 100%;
  }
}

.cast .cast-sub-name {
  text-align: center;
}

.cast .cast-name {
  text-align: center;
  font-size: 18px;
  margin-top: 12px;
}

.cast .name-title {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

.cast .cast-text {
  font-size: 12px;
  line-height: 1.75;
  margin-top: 12px;
}

@media screen and (max-width: 576px) {
  .cast .cast-text {
    text-align: center;
  }
}

.cast .cast-member {
  padding-top: 60px;
}

@media screen and (max-width: 576px) {
  .cast .cast-member {
    padding-top: 15px;
  }
}

.cast .casts-info {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25.5px;
}

.cast .cast-info-box {
  width: 250px;
}

@media screen and (max-width: 576px) {
  .cast .cast-info-box {
    width: 100%;
    margin-top: 30px;
  }
}

.cast .cast-info-box .cast-sub-name {
  margin-top: 0;
  font-size: 17px;
}

.cast .cast-info-box .cast-name {
  font-size: 22.5px;
}

.cast .cast-info-box .name-title {
  font-size: 12px;
}

.cast .cast-info {
  display: flex;
  width: calc(50% - 30px * 1 / 2);
}

@media screen and (max-width: 576px) {
  .cast .cast-info {
    width: 100%;
    display: block;
  }
}

.cast .cast-info:nth-child(2n) {
  margin-right: 0;
}

.cast .cast-info:nth-child(n+3) {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .cast .cast-info:nth-child(n+3) {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .cast .cast-info:nth-child(n+2) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .cast .cast-info-img {
    text-align: center;
  }
}

.cast .cast-info-img img {
  width: 130px;
  height: 130px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .cast .cast-info-img img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 576px) {
  .cast .cast-info-img img {
    width: 150px;
    height: 150px;
  }
}

.cast .cast-list {
  background-color: #fff;
  padding: 80px 0 40px;
}

@media screen and (max-width: 576px) {
  .cast .cast-list {
    padding: 20px 0 20px;
  }
}

.cast .list-members {
  display: flex;
  flex-wrap: wrap;
}

.cast .list-member {
  width: calc(33.3% - 30px * 2 / 3);
  margin-right: 30px;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .cast .list-member {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
}

.cast .list-member .cast-sub-name {
  margin-top: 0;
  font-size: 17px;
}

.cast .list-member .cast-name {
  font-size: 22.5px;
}

.cast .list-member .name-title {
  font-size: 12px;
}

.cast .list-member:nth-child(n+4) {
  margin-top: 30px;
}

.cast .list-member:nth-child(3n) {
  margin-right: 0;
}

/*================================
inquiry
================================*/
@media screen and (max-width: 576px) {
  .inquiry .section-title {
    margin-top: 20px;
  }
}

.inquiry .breadcrumb {
  margin-top: 30px;
}

.inquiry .contact-form-body {
  border: solid 1px #707070;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.29);
  margin-top: 22px;
  padding: 30px 30px 35px 30px;
}

.inquiry .contact-text {
  font-size: 18px;
  line-height: 1.6667;
}

@media screen and (max-width: 576px) {
  .inquiry .contact-text {
    font-size: 14px;
  }
}

.inquiry .contact-form-item {
  display: flex;
}

@media screen and (max-width: 576px) {
  .inquiry .contact-form-item {
    display: block;
  }
}

.inquiry .contact-form {
  margin-top: 21px;
}

.inquiry .contact-form-label {
  width: 260px;
  text-align: right;
  padding-right: 16px;
  height: 45px;
  line-height: 45px;
}

@media screen and (max-width: 576px) {
  .inquiry .contact-form-label {
    font-size: 14px;
    text-align: left;
    width: 100%;
  }
}

.inquiry .contact-form-textarea-label {
  width: 260px;
  text-align: right;
  padding-right: 16px;
  height: 165px;
  line-height: 165px;
}

@media screen and (max-width: 576px) {
  .inquiry .contact-form-textarea-label {
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}

.inquiry .contact-form-input, .inquiry .contact-form-message {
  width: 100%;
}

.inquiry input[type="text"], .inquiry input[type="tel"], .inquiry input[type="email"], .inquiry textarea {
  width: 100%;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.7);
  border: none;
}

.inquiry input[type="text"], .inquiry input[type="tel"], .inquiry input[type="email"] {
  height: 45px;
  line-height: 45px;
}

.inquiry .contact-form-item + .contact-form-item {
  margin-top: 15px;
}

.inquiry textarea {
  height: 165px;
}

.inquiry .contact-btn {
  text-align: center;
  margin-top: 30px;
}

.inquiry input[type="submit"] {
  font-size: 18px;
  padding: 18px 82px;
  background-color: #C63205;
  color: #fff;
  border: none;
}

@media screen and (max-width: 576px) {
  .inquiry input[type="submit"] {
    font-size: 16px;
    padding: 10px 50px;
  }
}

.inquiry input[type="submit"]:hover {
  opacity: 0.7;
}

/*================================
inquiry-confirm
================================*/
.inquiry .contact-confirm-body {
  border: solid 1px #707070;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.29);
  padding: 30px 30px 22px 30px;
  margin-top: 22px;
}

.inquiry .contact-confirm-text {
  text-align: center;
  line-height: 1.6667;
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .inquiry .contact-confirm-text {
    font-size: 14px;
  }
}
